<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
        convertDeprecationsToExceptions="false"
         processIsolation="false"
         stopOnFailure="false">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory>./src/CrowdinApiClient/FrameworkSupport</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="Crowdin API Client Test Suite">
            <directory>./tests/CrowdinApiClient/</directory>
        </testsuite>
    </testsuites>
</phpunit>
